package ui

templ Header() {
	<header class="sticky top-0 flex items-center justify-between py-4 bg-white h-16">
		<a href="/"><h1 class="text-3xl font-bold">DHCW Clinic Outcomes</h1></a>
	</header>
}
