package ui

templ Header() {
	<header class="sticky top-0 flex items-center justify-between bg-nhs-blue-1 h-16 px-7 text-white">
		<a href="/"><h1 class="text-2xl font-semibold tracking-wide">Clinician Dashboard</h1></a>
	</header>
}
